* {
    padding-bottom: 500px;
    margin: 0;
    padding: 2px;
    font-family: sans-serif;
}
 a {
    color:blueviolet;
}
 body {
    padding-bottom: 500px;
 }
 .class {
   border-bottom: 1px solid red;
   padding: 2em;
   margin-bottom: 1em;
 }
