* {
    margin: 0;
    padding: 2px;
    font-family: sans-serif;
    background-color: #454458;
    color: white;
}
a {
    background-color: red;
    color: #000;
   margin-top: 15px;
}
.title {
   background: #000;
   color: whitesmoke;
   padding: 10px;
}