<div class="class">
    <h2>Meu Quinto Componente (Eventos)</h2>
    <h3> Definição </h3>
    <p>
        São ações desencadeadas por interações do usuário, 
        como cliques de mouse, 
        pressionamentos de teclas ou mudanças de estado em elementos da interface. 
        Os eventos permitem que você responda a essas interações e execute ações específicas 
        em resposta a elas.
    </p>

    <p *ngIf="show">Exibindo Mensagem!</p>
    <button (click)="showMessage()">Clique aqui!</button>
 
     
</div>    
